@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
  @include flex_box_custom(space-between, space-between, 0px);
  flex-direction: column;
  padding: 30px 20px;
  height: 90vh;

  .subTotal {
    @include flex_box_custom(space-between, center, 0px);
  }

  .btn {
    @include flex_box_custom(space-between, unset, 10px);
    flex-direction: column;

    button {
      width: 100%;
    }
  }

  .boxEmpty {
    text-align: center;
    font-size: 14px;
    color: $four-color;
    margin-top: 30px;

    .btnEmpty {
      width: 162px;
      margin: 10px auto;
    }
  }

  .containerListItem {
    @include flex_box_custom(space-between, center, 0px);
    flex-direction: column;
    flex-grow: 1;
  }
}

.isEmpty {
  justify-content: unset;
}
