@import '@styles/mixin.module.scss';

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  @include flex_box_custom(center, center, 5px);

  button {
    height: 30px;
    padding: 10px;
    @include flex_box_custom(center, center, 0px);
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    transition: background-color 0.3s ease, color 0.3s ease;

    &.active {
      background-color: #333;
      color: #fff;
      border: 2px solid #555; /* Thêm viền để phân biệt */
    }

    &.disable {
      background-color: #e9ecef;
      cursor: not-allowed;
      opacity: 0.6; /* Giảm độ rõ để làm nổi bật trạng thái */
    }
  }
}
