@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
  padding-top: 83px;
}

.containerStep {
  @include flex_box_custom(center, center, 0px);
  background-color: #fafafa;
  padding: 35px 0;
  flex-direction: column;
  margin-bottom: 2.3vw;

  .steps {
    @include flex_box_custom(center, center, 10px);

    .line {
      min-width: 120px;
      height: 1px;
      background-color: #e1e1e1;

      &.completed {
        background-color: $primary-color; // Đổi màu khi bước đã hoàn thành
      }
    }
  }

  .textNoti {
    font-size: 16px;
    font-weight: 400;
    color: $thr-color;
    padding-top: 35px;
  }

  .stepper {
    @include flex_box_custom(center, center, 30px);
    text-transform: uppercase;

    .numberStep {
      @include flex_box_custom(center, center, 10px);
      background-color: $primary-color;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      color: $white-color;

      &.completed {
        background-color: green; // Màu xanh lá (bước đã hoàn thành)
      }

      &.active {
        background-color: $primary-color; // Màu đặc biệt cho bước hiện tại
        border: 2px solid $primary-color;
      }
    }

    .isDis {
      background-color: transparent;
      border: 1px solid #e1e1e1;
      color: #888;
    }

    .textStep {
      color: $primary-color;
      font-size: 20px;

      &.completed {
        color: green; // Màu xanh lá cho bước đã hoàn thành
      }

      &.active {
        font-weight: bold; // Bước hiện tại đậm hơn
        color: $primary-color; // Màu khác biệt
      }
    }

    .isDisText {
      color: #9a9a9a;
    }
  }
}

.containerContent {
  @include flex_box_custom(space-between, flex-start, 30px);

  .containerRigth {
    flex-grow: 1;
  }

  .carttable {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;

    table {
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
      text-align: left;

      thead {
        tr {
          background-color: #f7f7f7;

          th {
            padding: 15px;
            color: #333;
            border-bottom: 1px solid #e1e1e1;
            font-weight: 400;
          }

          th:first-child {
            padding-left: 0;
          }

          th:last-child {
            padding-right: 0;
          }
        }
      }

      tbody {
        tr {
          &:hover {
            background-color: #f9f9f9;
          }

          td {
            padding: 15px;
            border-bottom: 1px solid #e1e1e1;

            &.product {
              display: flex;
              align-items: center;
              gap: 10px;
              padding-left: 0;

              img {
                width: 80px;
                height: auto;
                object-fit: cover;
                border-radius: 2px;
                border: 1px solid #ddd;
              }

              div {
                flex-grow: 1;

                p:first-child {
                  font-weight: 400;
                  color: #333;
                }

                p:last-child {
                  font-size: 0.9rem;
                  color: #666;
                }
              }

              button {
                background: none;
                border: none;
                color: #ff4d4d;
                cursor: pointer;
                font-size: 1.2rem;

                &:hover {
                  color: #ff0000;
                }
              }
            }

            select {
              width: 100%;
              padding: 5px;
              border: 1px solid #ccc;
              border-radius: 5px;
              font-size: 1rem;

              &:hover {
                border-color: #333;
              }
            }

            &:last-child {
              text-align: right;
              font-weight: 400;
              color: #333;
            }
          }
        }
      }
    }
  }

  .containerSumary {
    padding: 20px;
    border: 1px solid $primary-color;
    border-radius: 10px; // Bo tròn góc
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Đổ bóng nhẹ
    background-color: #fff; // Nền trắng để tạo sự tương phản
    margin: 20px 0;

    .title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
      border-bottom: 2px solid #e1e1e1;
      padding-bottom: 10px;
      text-align: center; // Canh giữa
      color: $primary-color;
    }

    .boxTotal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15px 0;
      padding: 10px;
      border: 1px solid #f1f1f1;
      border-radius: 8px;
      background-color: #fafafa;

      &:last-child {
        background-color: $secondary-color; // Màu nổi bật hơn
        color: $four-color;
        font-weight: bold;
      }

      .price {
        color: $primary-color;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .buttons {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      button {
        width: 100%;
      }
    }
  }

  .containerMethods {
    padding: 25px 0;
    position: relative;
    width: 100%;
    border: 1px solid #e1e1e1;
    margin-top: 45px;

    .titleMethods {
      position: absolute;
      top: -8px;
      transform: translateX(-50%);
      left: 50%;
      background-color: #fff;
      padding: 0 10px;
      text-transform: uppercase;
      font-size: 14px;

      span {
        color: #2e7d32;
      }
    }

    .boxImgMethods {
      @include flex_box_custom(center, center, 10px);

      .imgMethods {
        border: 1px solid #e1e1e1;
        display: inline-block;
        width: 50px;
        height: 34px;

        border-radius: 5px;
      }
    }
  }
  .textSecure {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: $thr-color;
  }

  .boxFooter {
    @include flex_box_custom(space-between, center, 0px);
    margin-top: 15px;

    .boxCoupon {
      @include flex_box_custom(flex-start, center, 0px);
      input {
        border: 1px solid #e1e1e1;
        padding: 8px 15px;
        outline: none;
      }

      button {
        height: 36px;
        border-radius: 0px;
        padding: 0 10px;
        font-size: 12px;
        width: 36px;
      }
    }

    .boxBtnDelete {
      button {
        height: 36px;
        font-size: 12px;
        padding: 0 30px;
      }
    }
  }
}

.boxEmpty {
  @include flex_box_custom(center, center, 20px);
  flex-direction: column;
  width: 100%;

  font-size: 14px;
  color: $thr-color;

  .titleEmpty {
    font-size: 24px;
    color: $primary-color;
  }

  .boxBtnEmpty {
    padding: 0 20px;
    font-size: 12px;
  }
}
